body { margin: 0 }
body { padding: 25px }
#editor { border: 1px solid orange }
#editor.loaded { border-color: green }
.cm-quickinfo-tooltip {
  padding: 5px;
  white-space: pre;
  font-family: monospace;
}
